.menuBar {
    -fx-background-color: #3c7fb1;
    -fx-border-width: 0;
    -fx-text-fill: #fafdfe;
    -fx-font-weight: bold;
}

.mainbox {
    -fx-min-width: 100%;
}

.msgbox {
    -fx-padding: 1;
    -fx-border-width: 1;
}

.addtextfield {
    -fx-max-width: 200px;
}

.decisionTable {
    -fx-max-height: 200;
}

.appButton {
    -fx-border-insets: 5;
}

.decisionButton {
    -fx-min-width: 200;
    -fx-border-insets: 5;
    -fx-background-color:
            #3c7fb1,
            linear-gradient(#fafdfe, #e8f5fc),
            linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 10 3 10;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.hbox_center {
    -fx-alignment: center;
    -fx-padding: 10;
}

.vbox_center {
    -fx-alignment: center;
    -fx-padding: 10;
}